* { 
  margin: 0;
  padding: 0;
}

body {
  background-color: #1D1A39;
}

.backgroudPurple {
  background-color: #451952;
}

/* Encabezados */

h1 {
  color: #AE445A;
}

h2 {
    color: #AE445A;
}

h3 {
    color: #AE445A;
}

.note {
  color: #F39F5A;
}

p {
  color: #E8BCB9
}